<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stark.stellasearch.dao.UserVideoInfoMapper">
    <resultMap id="UserVideoInfoResultMap" type="stark.stellasearch.domain.UserVideoInfo">
        <id property="id" column="id"/>
        <result property="videoUrl" column="video_url"/>
        <result property="title" column="title"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="creationTypeId" column="creation_type_id"/>
        <result property="sectionId" column="section_id"/>
        <result property="labelIds" column="label_ids"/>
        <result property="introduction" column="introduction"/>
        <result property="creatorId" column="creator_id"/>
        <result property="creationTime" column="creation_time"/>
        <result property="modifierId" column="modifier_id"/>
        <result property="modificationTime" column="modification_time"/>
    </resultMap>

    <resultMap id="VideoInfoMap" type="stark.stellasearch.dto.results.VideoInfo">
        <id property="id" column="id"/>
        <result property="videoUrl" column="video_url"/>
        <result property="title" column="title"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="introduction" column="introduction"/>
        <result property="uploadedTime" column="creation_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_video_info`
        (
            `video_url`,
            `title`,
            `cover_url`,
            `creation_type_id`,
            `section_id`,
            `label_ids`,
            `introduction`,
            `creator_id`,
            `creation_time`,
            `modifier_id`,
            `modification_time`
        )
        VALUES
        (
            #{videoUrl},
            #{title},
            #{coverUrl},
            #{creationTypeId},
            #{sectionId},
            #{labelIds},
            #{introduction},
            #{creatorId},
            #{creationTime},
            #{modifierId},
            #{modificationTime}
        )
    </insert>

    <select id="getVideoInfoById" resultMap="UserVideoInfoResultMap">
        SELECT
            `id`,
            `video_url`,
            `title`,
            `cover_url`,
            `creation_type_id`,
            `section_id`,
            `label_ids`,
            `introduction`,
            `creator_id`,
            `creation_time`,
            `modifier_id`,
            `modification_time`
        FROM `user_video_info`
        WHERE `id` = #{id}
    </select>

    <update id="updateVideoInfoById">
        UPDATE `user_video_info`
        SET `title` = #{title},
            `cover_url` = #{coverUrl},
            `creation_type_id` = #{creationTypeId},
            `section_id` = #{sectionId},
            `label_ids` = #{labelIds},
            `introduction` = #{introduction}
        WHERE `id` = #{id}
    </update>

    <select id="getVideoInfosByUserId" resultMap="VideoInfoMap">
        SELECT `id`,
               `video_url`,
               `title`,
               `cover_url`,
               `introduction`,
               `creation_time`
        FROM `user_video_info`
        WHERE `creator_id` = #{userId}
          AND `title` IS NOT NULL
        LIMIT #{pageCapacity} OFFSET #{offset}
    </select>
</mapper>