<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stark.stellasearch.dao.UserChatMessageMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_chat_message`
        (`session_id`, `sender_id`, `recipient_id`, `content`, `creator_id`, `creation_time`, `modifier_id`,
         `modification_time`)
        VALUES (#{sessionId}, #{senderId}, #{recipientId}, #{content}, #{creatorId}, #{creationTime}, #{modifierId},
                #{modificationTime})
    </insert>

    <select id="getMessagesBySessionId" resultType="stark.stellasearch.domain.UserChatMessage">
        SELECT `id`,
               `session_id`,
               `sender_id`,
               `recipient_id`,
               `content`,
               `creator_id`,
               `creation_time`,
               `modifier_id`,
               `modification_time`
        FROM `user_chat_message`
        WHERE `session_id` = #{sessionId}
        ORDER BY `id` DESC
            LIMIT #{pageCapacity}
        OFFSET #{offset}
    </select>

    <select id="countMessagesBySessionId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM `user_chat_message`
        WHERE `session_id` = #{sessionId}
    </select>
</mapper>