<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stark.stellasearch.dao.VideoPlayRecordMapper">
    <resultMap id="VideoPlayRecordResultMap" type="stark.stellasearch.domain.VideoPlayRecord">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="videoId" column="video_id"/>
        <result property="creatorId" column="creator_id"/>
        <result property="creationTime" column="creation_time"/>
        <result property="modifierId" column="modifier_id"/>
        <result property="modificationTime" column="modification_time"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO `video_play_record`
        (`user_id`, `video_id`, `creator_id`, `creation_time`, `modifier_id`, `modification_time`)
        VALUES (#{userId}, #{videoId}, #{creatorId}, #{creationTime}, #{modifierId}, #{modificationTime})
    </insert>

    <select id="countPlayCountByVideoId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM `video_play_record`
        WHERE `video_id` = #{videoId}
    </select>
</mapper>